/App_Fonte_Externa_TrueType/.idea/caches/build_file_checksums.ser
/BonusLogicaEstruturaRepeticao/.idea/caches/build_file_checksums.ser
/BonusLogicaEstruturaRepeticaoII/.idea/caches/build_file_checksums.ser
/BonusPoo_Classe_Carro/.idea/caches/build_file_checksums.ser
/BonusPoo_interface/.idea/caches/build_file_checksums.ser
/BonusPoo_Pacotes/.idea/caches/build_file_checksums.ser
/App_Fonte_Externa_TrueType/.idea/gradle.xml
/BonusLogicaEstruturaRepeticao/.idea/gradle.xml
/BonusLogicaEstruturaRepeticaoII/.idea/gradle.xml
/BonusPoo_Classe_Carro/.idea/gradle.xml
/BonusPoo_interface/.idea/gradle.xml
/BonusPoo_Pacotes/.idea/gradle.xml
/App_Fonte_Externa_TrueType/.idea/jarRepositories.xml
/BonusLogicaEstruturaRepeticao/.idea/jarRepositories.xml
/BonusLogicaEstruturaRepeticaoII/.idea/jarRepositories.xml
/BonusPoo_Classe_Carro/.idea/jarRepositories.xml
/BonusPoo_interface/.idea/jarRepositories.xml
/BonusPoo_Pacotes/.idea/jarRepositories.xml
/App_Fonte_Externa_TrueType/.idea/misc.xml
/BonusLogicaEstruturaRepeticao/.idea/misc.xml
/BonusLogicaEstruturaRepeticaoII/.idea/misc.xml
/BonusPoo_Classe_Carro/.idea/misc.xml
/BonusPoo_interface/.idea/misc.xml
/BonusPoo_Pacotes/.idea/misc.xml
/App_Fonte_Externa_TrueType/.idea/modules.xml
/BonusLogicaEstruturaRepeticao/.idea/modules.xml
/BonusLogicaEstruturaRepeticaoII/.idea/modules.xml
/BonusPoo_Classe_Carro/.idea/modules.xml
/BonusPoo_interface/.idea/modules.xml
/BonusPoo_Pacotes/.idea/modules.xml
/App_Fonte_Externa_TrueType/.idea/codeStyles/Project.xml
/BonusLogicaEstruturaRepeticao/.idea/codeStyles/Project.xml
/BonusLogicaEstruturaRepeticaoII/.idea/codeStyles/Project.xml
/BonusLogicaEstruturaRepeticaoII/.idea
AndroidReverseGPS/.idea/compiler.xml
AndroidReverseGPS/.idea/gradle.xml
AndroidReverseGPS/.idea/misc.xml
AndroidReverseGPS/.idea/modules.xml
AndroidReverseGPS/.idea/modules/app/AndroidReverseGPS.app.iml
Fontes_AulaApp01/.idea/.name
Fontes_AulaApp01_POO/.idea/.name
Fontes_AulaAppMediaEscola_Parte_I_Menu/.idea/.name
Fontes_AulaAppMediaEscolar_RelativeLayout/.idea/.name
AndroidReverseGPS/.idea/sonarlint/issuestore/index.pb
